/* Fonts */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
/* General styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins';
    font-size: 16px;
    background-color: #fff;
}
.container{
    max-width: 1338px;
    width: 100%;
    margin: 0 auto;
}
.section__title{
    font: 600 48px/80px 'Poppins';
    color: #000;
    text-align: center;
}
.liquid{
    margin-left: 18px;
}

/* Header */
.header{
    position: fixed;
    width: 100%;
    padding-top:55px;
    background-color:#fff;
    z-index: 10;
}
.nav{
    display: flex;
    align-items: center;
}
.list{
    display: inline-block;
    margin-left: 217px;
}
.list__item{
    display: inline-block;
    list-style-type: none;
}
.list__link{
    font: 500 20px/30px 'Poppins';
    text-decoration: none;
    text-transform:capitalize;
    margin-left: 36px;
    color: #263238;
}
.header__btn{
    font: 400 24px/36px 'Poppins';
    padding: 17px 57px;
    margin-left: auto;
    border: 2px solid #263238;
    border-radius: 5px;
    color: #000;
    text-transform: capitalize;
    text-decoration: none;
}

/* Hero */
.hero{
    padding-top:200px;
}
.hero__inner{
    display: flex;
    align-items: center;
}
.hero__info{
    position: relative;
    width: 632px;
}
.hero__title{
    display: inline-block;
    font: 600 64px/80px 'Poppins';
    width: 386px;
}
.lamp{
    position: absolute;
    left:424px;
    top: 92px;
}
.hero__text{
    font: 400 24px/36px 'Poppins';
    margin-top: 40px;
    width: 523px;
    color: #8F95A5;
}
.hero__btn{
    display: inline-block;
    font: 400 36px/54px 'Poppins';
    padding: 32px 117px;
    margin-top: 61px;
    background-color:#263238;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
}
/* Skills */
.skills{
    padding-top: 103px;
}
.skills__inner{
    display: flex;
    margin-top: 92px;
}
.skills__card1{
    background-color:#F5F5F5;
    width: 435px;
    border-radius: 10px;
    padding-bottom:80px;
}
.skills__card1.card__image{
    margin: 35px 22px 0 22px;
}
.skills__card__info{
    padding: 0 43px 0 43px;
}
.skills__card__title{
    font: 600 30px/80px 'Poppins';
    margin-top: 4px;
    color: #263238;
}
.skills__card__text{
    font: 400 16px/24px 'Poppins';
    color: #8F95A5;
    margin-top: 5px;
}
.skills__card__btn{
    display: inline-block;
    font: 500 18px/27px 'Poppins';
    padding: 17px 63px;
    border-radius: 5px;
    background-color: #263238;
    color: #fff;
    text-decoration: none;
    margin-top:46px;
}
.skills__card2{
    margin-left: 18px;
}
.skills__card2__inner{
    display: flex;
}
.skills__card__inner--2{
    padding-bottom: 44px;
}
.skills__card__inner--2 .skills__card__info{
    margin-top: -42px;
}
.skills__card__inner--2 .card__image{
    margin: 4px 19px 0 120px;
}
.skills__card__inner--2 .skills__card__title,
.skills__card__inner--2 .skills__card__text{
    margin-top: 0;
}
.skills__card__inner--2 .skills__card__btn{
    margin-top: 33px;
}
.liquid .card__image{
    margin:9px 63px 0 0px;
}
.liquid .skills__card__info{
    margin-top: 0;
    padding: 0 0 0 43px;
}
.skills__card--end{
    display: flex;
    width: 885px;
    margin-top:20px;
    padding: 44px 25px 44px 48px;
}
.skills__card--end .skills__card__info{
    width: 400px;
    padding: 0;
    margin-right: auto;
}
.end__title,
.end__text{
    margin: 0;
}
.btn__end{
    margin-top: 25px;
}

/* About */
.about{
    padding-top: 252px;
}
.about__inner{
    display: flex;
    justify-content: space-between;
}
.about__info{
    margin-top: 30px;
    width: 670px;
}
.about__info .section__title{
    text-align: left;
}
.about__text{
    font: 400 20px/30px 'Poppins';
    margin-top: 23px;
    color: #8F95A5;

}
.about__info__state{
    display: flex;
    margin-top:40px;
}
.state__changiable{
    margin: 0 119px 0 163px;
}

.state .section__title{
    text-align: center;
}
.number{
    color: #2A3246;
}
.number__text{
    margin:0;
    text-align: center;
}

/* Pricing */
.pricing{
    padding-top: 188px;
}
.pricing__inner{
    display: flex;
    align-items: center;
    margin-top: 83px;
}
.pricing__card__changiable{
    margin: 0 auto;
}
.pricing__img{
    text-align: center;
}
.pricing__title{
    font: 600 30px/48px 'Poppins';
    color:#263238;
    margin-top: 40px;
}

#pricing__title__changiable{
    margin-top:70px;
}
.pricing__title__changiable3{
    margin-top: 11px;
}
.pricing__text{
    margin-top: 19px;
    width: 418px;
}
.pricing__text__changiable{
    margin-top: 23px;
}
.price__box{
    display: inline-block;
    font: 400 18px/27px 'Poppins';
    padding: 0 18px;
    margin-top: 29px;
    border-radius: 5px;
    background-color: #EEEEEE;
    color: #546269;

}
.price__box__changiable{
    margin-top:60px;
}
.price{
    font: 400 30px/45px 'Poppins';
    color:#263238;
    vertical-align: middle;
}

/* Contact Us */
.contact{
    padding-top: 261px;
}
.contact__inner{
    display: flex;
}
.contact__inner .about__info{
    width: 776px;
    margin-left: auto;
}
.contact__text{
    margin-top: 37px;
}
.contact form{
    margin-top: 52px;
}
.contact form input{
    font: 400 16px/24px 'Poppins';
    padding: 26px 33px;
   width: 480px;
   height: 80px;
   border: 1px solid #8F95A5;
   outline: none;
   border-radius: 10px;
   color: #8F95A5;
   margin-right: 12px;
}
.button{
    font: 500 20px/30px 'Poppins';
    padding: 25px 81px;
    background-color:#263238;
    color: #fff;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Footer */
.footer{
    padding: 133px 0 64px 0;
}
.line{
    width: 100%;
    height: 1px;
    background-color:#C4C4C4;
    margin-bottom: 31px;
}
.footer__links{
    margin-left: auto;
}
.footer__link{
    font: 400 24px/36px 'Poppins';
    color: #8F95A5;
    text-decoration: none;
}



